/* Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
  max-width: 100%;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
/* Media Queries */
/*Small*/

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*Medium*/

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*Larg*/

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
.head {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

.head .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 15px;
}
.head .container::before {
  position: absolute;
  content: "";
  width: calc(100% - 30px);
  height: 1px;
  background-color: hsl(220, 14%, 75%);
  bottom: -15px;
  z-index: -1;
}
.head .container .logo-and-list {
  display: flex;
  align-items: center;
  gap: 60px;
}
.head .container .logo-and-list .three-bar {
  cursor: pointer;
  display: none;
}
.head .container .list ul {
  display: flex;
  gap: 20px;
  color: hsl(219, 9%, 45%);
  font-weight: 400;
}

.head .container .list ul li a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  position: relative;
}
.head .container .list.not-opened ul li a:hover {
  color: hsl(220, 13%, 13%);
  border-bottom: 2px solid hsl(26, 100%, 55%);
  padding-bottom: 38px;
  z-index: 2;
}
.head .container .cart-and-profile {
  display: flex;
  align-items: center;
  gap: 40px;
}
.head .container .cart-and-profile .cart {
  cursor: pointer;
}
.head .container .cart-and-profile .avatar {
  cursor: pointer;
}
.avatar {
  width: 40px;
}

/* Mobile Header */

@media (max-width: 768px) {
  .head {
    padding-top: 20px;
  }
  .head .container {
    padding-bottom: 20px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .head .container::before {
    height: 0;
  }
  .head .container .logo-and-list {
    gap: 20px;
  }
  .head .container .logo-and-list .three-bar {
    display: flex;
  }
  .head .container .list {
    display: none;
  }

  .head .container .cart-and-profile {
    gap: 20px;
  }
}
/* End Mobile Header */
.head .container .list.opened {
  display: flex;
}
.close-bar {
  position: absolute;
  z-index: 20;
  left: 0;
  padding-left: 30px;
  cursor: pointer;
}
.close-bar.none {
  display: none;
}
.head .container .list.opened ul {
  z-index: 15;
  font-weight: bold;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -20px;
  left: 0;
  background-color: white;
  width: calc(65%);
  min-height: 100vh;
  padding-left: 30px;
  padding-top: 80px;
}
.head .container .list.opened ul li a {
  color: black;
}
/* End Header */
/* context Seaction */
.context {
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.context .container {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
  gap: 120px;
  padding-left: 60px;
  padding-right: 60px;
}
.context .container .gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-bottom: 15px;
  gap: 20px;
  max-width: 430px;
}
.context .container .gallery img {
  border-radius: 20px;
}
.context .container .gallery .image-product {
  max-width: 100%;
}
.context .container .gallery .image-product img {
  max-width: 100%;
  cursor: pointer;
}
.context .container .gallery .thumbs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.context .container .gallery .thumbs img {
  border-radius: 10px;
  cursor: pointer;
  width: 90px;
  position: relative;
}

.context .container .gallery .thumbs img.active {
  border: 3px solid hsl(26, 100%, 55%);
  opacity: 0.5;
}

.context .container .info {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-bottom: 30px;
}
.context .container .info .company-name {
  color: hsl(26, 100%, 55%);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.context .container .info .title {
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 42px;
  padding-bottom: 30px;
}
.context .container .info .para {
  color: hsl(219, 9%, 45%);
  font-size: 15px;
  line-height: 1.6em;
  padding-bottom: 20px;
}
.context .container .info .price-details {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}
.context .container .info .price-details .price {
  font-size: 28px;
  font-weight: bold;
}
.context .container .info .price-details .price-with-discount {
  font-size: 15px;
  font-weight: bold;
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  border-radius: 5px;
  padding: 3px;
}
.context .container .info .price-without-discount {
  font-size: 15px;
  font-weight: bold;
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
  padding-bottom: 30px;
}
.context .container .info .add-to-cart {
  display: flex;
  align-items: center;
  gap: 10px;
}
.context .container .info .add-to-cart .details {
  display: flex;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  width: 40%;
  justify-content: space-between;
  padding: 15px 20px;
  user-select: none;
}
.context .container .info .add-to-cart .details .minus {
  cursor: pointer;
  position: relative;
  top: -4px;
}
.context .container .info .add-to-cart .details .plus {
  cursor: pointer;
}
.context .container .info .add-to-cart .details .count {
  font-size: 15px;
  font-weight: 700;
}
.context .container .info .add-to-cart .logo-and-btn {
  user-select: none;
  display: flex;
  align-items: center;
  background-color: hsl(26, 100%, 55%);
  width: 60%;
  padding: 15px 0;
  border-radius: 10px;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.context .container .info .add-to-cart .logo-and-btn span {
  color: white;
  font-size: 15px;
  font-weight: 700;
}
.all {
  display: none;
  justify-content: center;
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 2000;
}
.all.active::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  z-index: 1;
}
.all.active .gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-bottom: 15px;
  gap: 20px;
  max-width: 500px;
  z-index: 50000;
  padding-top: 30px;
}
.all.active .gallery img {
  border-radius: 20px;
}
.all.active .gallery .image-product {
  max-width: 500px;
  user-select: none;
}
.all.active .gallery .image-product img {
  max-width: 100%;
  cursor: pointer;
}
.all.active .gallery .thumbs {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
  user-select: none;
}
.all.active .gallery .thumbs img {
  border-radius: 10px;
  cursor: pointer;
  width: 80px;
  position: relative;
}

.all.active .gallery .thumbs img.active {
  border: 3px solid hsl(26, 100%, 55%);
  opacity: 0.5;
}
.all.active .gallery .close {
  position: relative;
  left: 480px;
  cursor: pointer;
  top: 10px;
  user-select: none;
}
.all.active .gallery .close img {
  width: 20px;
}
.all.active .gallery .next,
.all.active .gallery .prev {
  position: absolute;
  left: 475px;
  cursor: pointer;
  top: 330px;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.all.active .gallery .next {
  left: 475px;
  top: 330px;
}
.all.active .gallery .prev {
  top: 335px;
  left: -25px;
}
/* End context Seaction */
/* Start Cart data  */
.cart-data {
  padding: 20px;

  position: absolute;
  top: 50px;
  right: -35px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  box-shadow: -1px 10px 9px 3px rgb(0 0 0 / 15%);
  border-radius: 10px;
  z-index: 5;
}
.cart-data.non-active {
  display: none;
}
.cart-data .cart-name {
  font-weight: 700;
}
.cart-data::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: hsl(220, 14%, 75%);
  top: 55px;
  left: 0;
}
.cart-data .data {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 25px;
}
.cart-data .data .empty {
  position: relative;
  top: 100px;
  left: 110px;
  font-weight: bold;
  color: hsl(219, 9%, 45%);
}
.cart-data .data .empty.none {
  display: none;
}

.data1 {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.data1:last-child {
  padding-bottom: 40px;
}

.data1 img {
  width: 50px;
  border-radius: 5px;
}
.data1 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.data1 .text .text-title {
  color: hsl(219, 9%, 45%);
  position: relative;
  top: 5px;
}
.data1 .text .total {
  color: hsl(219, 9%, 45%);
  position: relative;
  bottom: 5px;
  letter-spacing: 0.5px;
}
.data1 .text .total b {
  color: black;
}
.data1 .del {
  width: 15px;
  position: relative;
  left: 40px;
  cursor: pointer;
}
.checkout {
  width: calc(100% + 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(26, 100%, 55%);
  left: 20px;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  cursor: pointer;
}
.checkout .check {
  padding: 20px;
  color: white;
  font-weight: 700;
}
/* End Cart Data */
